@model Understand_model.Models.Books

@{
    ViewBag.Title = "Get Book Details";
}

<h2>Get Book Details</h2>

<!doctype html>
<html>
<head>
    <meta name="viewport" content=""/>
    <title>Book Details</title>
</head>
<body>
    <h1>Here are the book details</h1> 
    <hr />
    <hr />
    <div class="displayed_Details"  style="color:green">
        <h3>Book Number: @Model.BookNumber</h3>
        <hr />
        <h3>Book Name: @Model.BookName</h3>
        <hr />
        <h3>Book Author: @Model.BookAuthor</h3>
        <hr />
        <h3>Book Price: @Model.Price</h3>

    </div>



</body>

</html>